body {
    font-family: Bahnschrift, sans-serif;
    background-color: #ffffff;
    color: #2d3142;
}

input {
    font-family: "Cascadia Mono", monospace;
}

*:disabled {
    cursor: not-allowed;
}

.title {
    text-align: center;
    font-weight: bold;
    background-color: #bfc0c0;
    border-radius: 1vw;
    padding: 1vh;
    width: max-content;
    margin: 1vh auto;
    height: 5vh;
}

.server-time {
    margin: 0 auto;
    text-align: center;
    font-family: "Cascadia Mono", monospace;
}

.section-head {
    background-color: #4f5d75;
    color: #ffffff;
    width: auto;
    border-radius: 1vw;
    padding: 1vh;
    text-align: center;
}

div.sections {
    background-color: #bfc0c0;
    border-radius: 1vw;
    display: flex;
    padding: 1vh;
    height: 82vh;
}

div.section {
    background-color: #2d3142;
    color: #ffffff;
    width: max-content;
    height: calc(100% - 3vh - 1vw);
    border-radius: 1vw;
    padding: 1vw;
    margin: 0.5vh;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    color: #2d3142;
    text-align: center;
    vertical-align: center;
    margin-bottom: 0.5vh;
    height: 20px;
}

table.timetable {
    width: 18vw;
}

table.song-list {
    width: 27vw;
    margin: 0;
}

table.event-list {
    width: 33vw;
    margin: 0;
}

.break-timer {
    width: fit-content;
    height: fit-content;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border-style: none;
    background-color: #bfc0c0;
}

#song-list-table-div {
    width: max-content;
    overflow-y: scroll;
    height: 50vh;
    background-color: #ffffff;
    margin-top: 0.5vw;
    margin-bottom: 0.5vh;
}

#event-list-table-div {
    width: max-content;
    overflow-y: scroll;
    height: 50vh;
    background-color: #ffffff;
    margin-top: 0.5vw;
    margin-bottom: 0.5vh;
}

table.fixed {
    table-layout: fixed;
}

tr.song-list-row:hover, tr.event-list-row:hover {
    background-color: #bfc0c0;
    cursor: pointer;
}

tr.song-list-row.active, tr.event-list-row.active {
    background-color: #9fa0a0;
    color: #ffffff;
    cursor: pointer;
}

td.time-field {
    font-family: "Cascadia Mono", monospace;
}

th, td {
    border-width: 1px;
    border-color: #4f5d75;
    border-style: solid;
    width: auto;
    padding: 0.1vh;
}

th {
    background-color: #4f5d75;
    color: #ffffff;
    font-weight: bold;
    position: sticky;
    inset: 0 auto auto;
    border-top-width: 0;
    border-bottom-width: 0;
}

.filename-field, .name-field {
    text-align: right;
}

.number-holder, .switch-holder, .datetime-holder {
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    height: max-content;
    padding: 1vh;
    border-radius: 1vw;
    background-color: #4f5d75;
}

.switch-holder p.switch-label-holder {
    margin-top: auto;
    margin-bottom: auto;
}

.number-holder-label, .switch-holder p.switch-label-holder, .datetime-holder-label {
    font-weight: bold;
    display: inline;
    vertical-align: middle;
}

.number-holder-input, .datetime-holder-input {
    margin-left: 0.5vw;
    height: max-content;
    background-color: #bfc0c0;
    border-style: none;
    border-radius: 0.5vw;
    padding: 0.5vh;
    color: #2d3142;
}

.number-holder-input:disabled, .datetime-holder-input:disabled, .number-holder-input:hover, .datetime-holder-input:hover {
    background-color: #9fa0a0;
    color: #ffffff;
}

#utc-offset-number {
    width: calc(2ch + 1vw);
}

#add-song-form {
    display: flex;
}

#song-submit {
    margin-left: auto;
}

div.button-holder {
    width: 100%;
    display: flex;
}

#disable-selected {
    margin-right: auto;
}

#enable-selected {
    margin-left: auto;
    margin-right: auto;
}

#delete-selected {
    margin-left: auto;
}

#save-timetable {
    margin-left: auto;
}

input.submit, label.button, button {
    background-color: #bfc0c0;
    color: #2d3142;
    text-align: center;
    padding: 1vh;
    border-radius: 1vh;
    border-style: none;
    width: max-content;
    font-size: medium;
    font-family: Bahnschrift, sans-serif;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    min-width: 9vw;
}

.text-input {
    background-color: #ffffff;
    text-align: left;
    padding: 1vh;
    border-radius: 1vh;
    height: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

#songs-label, #event-sound-label {
    min-width: calc(9vw - 2vh);
}

.dangerous, input.submit.dangerous {
    background-color: #ef8354;
    color: #ffffff;
}

input.submit:hover, label.button:hover, button:hover {
    background-color: #ef8354;
    color: #ffffff;
    cursor: pointer;
}

.dangerous:hover, input.submit.dangerous:hover {
    background-color: #bfc0c0;
    color: #2d3142;
}

input.submit:active, label.button:active, button:active {
    background-color: #c76d46;
    color: #ffffff;
}

.dangerous:active, input.submit.dangerous:active {
    background-color: #9fa0a0;
    color: #2d3142;
}

input.submit:disabled, label.button:disabled, button:disabled {
    background-color: #bfc0c0;
    color: #2d3142;
    cursor: not-allowed;
}

svg.switch {
    transition-duration: 200ms;
    transition-property: all;
    width: 2em;
    height: 1em;
}

svg.switch:hover {
    cursor: pointer;
}

svg.switch circle {
    cx: 0.5em;
    cy: 0.5em;
    r: 0.4em;
    fill: #ffffff;
}

svg.switch rect {
    width: 2em;
    height: 1em;
    fill: #9fa0a0;
    rx: 0.5em;
}

svg.switched-on circle {
    cx: 1.5em;
}

svg.switched-on rect {
    fill: #ef8354;
}

#event-name {
    width: 16ch;
}

#event-name, #event-trigger-time-holder, #event-repeat-amount-holder {
    margin-right: auto;
}

#event-sound-label, #autodelete-switch-holder, #remove-event {
    margin-right: auto;
    margin-left: auto;
}

#scheduled-switch-holder, #event-repeat-time-holder, #add-event {
    margin-left: auto;
}

#event-trigger-time {
    width: calc(22ch + 2vh);
}

#event-repeat-time, #event-repeat-amount {
    width: 5ch;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-picker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}